<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code 7</title>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
    <div class="container">
        <h1 id="title" class="is-size-1">Code 7 Generator</h1>
        <div id="content">
            <p>Code 3: <input class="input" type="password" v-model="code3"/></p>
            <p>Code 5: <input class="input" type="text" v-model="code5"/></p>
            <p>Code 7: <div id="result" class="is-size-4">{{ code7 | upercase | addspace }}</div></p>
            <p>
                <button @click="copyCode" class="button">Copy</button>
                <button @click="clearCode" class="button">Clear</button>
            </p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js" integrity="sha512-8pbzenDolL1l5OPSsoURCx9TEdMFTaeFipASVrMYKhuYtly+k3tcsQYliOEKTmuB1t7yuzAiVo+yd7SJz+ijFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.6.0/sha1.min.js" integrity="sha512-q6FuE4ifzTygTD/ug8CFnAFXl+i1zXqBWP6flRAuSWjaXrFu4Cznk8Xr+VrWMyi7fSatbssh7ufobAetvXK8Pg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js" integrity="sha512-HGUXrNcmLDmQRRL3HHWwxR2np8A+AqG9p0cmOVjZbzd6I90Sx8Sy90BM458zeD8mBs+GH9imkFkUKudwZd+r/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
</body>
</html>