@import url('https://fonts.googleapis.com/css?family=Playball|Ubuntu|Noto+Serif+SC&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css');
html,body {
    margin: 8px;
}
#title {
    font-family: 'Playball', cursive;
}
#content {
    font-family: 'Ubuntu','Noto Serif SC', sans-serif;
}